<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>BitMesh Cloud Server</display-name>

    <!-- Transaction Servlet to handle broadcasts -->
    <servlet>
        <servlet-name>
            Transaction
        </servlet-name>
        <servlet-class>
            network.bitmesh.cloudserver.Servlets.TransactionServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>
            Transaction
        </servlet-name>
        <url-pattern>
            /transaction
        </url-pattern>
    </servlet-mapping>

    <!-- Servlet to show broadcasted transactions -->
    <servlet>
        <servlet-name>
            RefundInfo
        </servlet-name>
        <servlet-class>
            network.bitmesh.cloudserver.Servlets.RefundInfoServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>
            RefundInfo
        </servlet-name>
        <url-pattern>
            /refunds
        </url-pattern>
    </servlet-mapping>

    <!-- Servlet to get unspent transactions for an address -->
    <servlet>
        <servlet-name>
            Unspent
        </servlet-name>
        <servlet-class>
            network.bitmesh.cloudserver.Servlets.UnspentTransactionServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>
            Unspent
        </servlet-name>
        <url-pattern>
            /unspent
        </url-pattern>
    </servlet-mapping>

    <!-- Stats Servlet to gather statistics -->
    <servlet>
        <servlet-name>
            Stats
        </servlet-name>
        <servlet-class>
            network.bitmesh.cloudserver.Servlets.StatsServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>
            Stats
        </servlet-name>
        <url-pattern>
            /stats
        </url-pattern>
    </servlet-mapping>

    <!-- Latest Version Servlet to Give Software Version to Clients -->
    <servlet>
        <servlet-name>
            LatestVersion
        </servlet-name>
        <servlet-class>
            network.bitmesh.cloudserver.Servlets.LatestVersionServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>
            LatestVersion
        </servlet-name>
        <url-pattern>
            /latestversion
        </url-pattern>
    </servlet-mapping>

    <!-- Download Servlet -->
    <servlet>
        <servlet-name>
            Download
        </servlet-name>
        <servlet-class>
            network.bitmesh.cloudserver.Servlets.GetSoftwareServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>
            Download
        </servlet-name>
        <url-pattern>
            /download/update
        </url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>network.bitmesh.cloudserver.Bitcoin.WalletContextListener</listener-class>
    </listener>

</web-app>