<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.DerbyTenSevenDialect</property>
        <property name="hibernate.connection.driver_class">org.apache.derby.jdbc.EmbeddedDriver</property>
        <property name="hibernate.connection.url">jdbc:derby:database;create=true</property>
        <property name="current_session_context_class">thread</property>
        <!-- Show the sql in the log -->
        <property name="show_sql">false</property>
        <property name="hbm2ddl.auto">create</property>
        <property name="hibernate.jdbc.batch_size">20</property>
        <mapping class="network.bitmesh.Statistics.Sell" />
        <mapping class="network.bitmesh.Statistics.IPAddress" />
        <mapping class="network.bitmesh.Statistics.Vendor" />
        <mapping class="network.bitmesh.Statistics.VendorCashOut" />
    </session-factory>
</hibernate-configuration>